@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind forms;

@font-face {
  font-family: "Lilita One";
  src: url("../../public/fonts/LilitaOne-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Saira Semi Condensed";
  src: url("../../public/fonts/SairaSemiCondensed-Regular.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Saira Semi Condensed";
  src: url("../../public/fonts/SairaSemiCondensed-SemiBold.ttf");
  font-weight: 700;
}
